body {
}

div{
        
}

div.component {
    display: inline-grid;
    width: 50%;
    padding:20px 10px 10px 40px
}

div.component2 {
    display: inline-grid;
    width: 100%;
    padding: 20px 10px 10px 40px
}

button.header{
    align-self:stretch
}

th.button_header {
}
